* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.margin-top-bottom-50px {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-5px {
    margin: 5px;
}

.margin-top-5px {
    margin-top: 5px;
}

.margin-top-bottom-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-top-50px {
    margin-top: 50px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-top-bottom-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}

.padding-5px {
  padding: 5px;
}

.padding-10px {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.link-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.card {
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  border: 5px solid white;
}

.card-image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  flex: 0 0 auto;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-content {
  flex: 1;
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  margin: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.card-name {
  font-size: 0.8rem;
  margin: 0;
  position: absolute;
  bottom: 15px;
}

.card-date {
  font-size: 0.8rem;
  margin: 0;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.card-link {
  color: #333;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 9999;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-title img {
  margin-right: 10px;
}

.navbar-title span {
  display: inline-block;
  vertical-align: middle;
}


.navbar-search {
  display: flex;
  flex-grow: 1;
  margin: 0 20px;
}

.navbar-search input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}

.navbar-search button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
}

.navbar-buttons a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}


@media screen and (max-width: 720px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-search {
    margin: 10px 0;
    width: 100%;
  }

  .navbar-search input[type="text"] {
    width: 100%;
  }

  .navbar-buttons {
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-buttons a {
    margin-left: 0;
  }
}


.form {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}


.form-group {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.cari {
  border-radius: 0;
}

.btnCari {
  border-radius: 0 5px 5px 0;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-submit {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
}

.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #333;
  padding: 5px 10px;
}

table.profile {
  display: block;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  margin: auto;
}

.bg-red {
  background-color: #d72323;
}

.btn-card-ubah {
  position: absolute;
  top: 10px;
  bottom: auto;
  right: 100px;
  left: auto;
}

.btn-card-hapus {
  position: absolute;
  top: 10px;
  bottom: auto;
  right: 20px;
  left: auto;
}

.card-detail-resep {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 35px 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.card-detail-resep img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 300px;
}

.card-detail-resep-button {
  position: absolute;
  right: 20px;
  top: 15px;
}

.logo {
  display: block;
  margin: auto;
  width: 75px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .card-name {
    left: 15px;
    top: auto;
    bottom: 20px;
    right: auto;
  }

  .container {
    max-width: 540px;
  }

  .margin-top-bottom-50px {
    margin-top: 150px;
  }

  .card {
    margin-bottom: 25px;
  }

  .btn-card-ubah {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 10px;
    right: auto;
  }

  .btn-card-hapus {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 90px;
    right: auto;
  }

  .card-image-container {
    width: 150px;
    height: 150px;
  }

  .form {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .margin-top-bottom-50px {
    margin-top: 50px;
  }

  .btn-card-ubah {
    position: absolute;
    top: 10px;
    bottom: auto;
    right: 100px;
    left: auto;
  }

  .btn-card-hapus {
    position: absolute;
    top: 10px;
    bottom: auto;
    right: 20px;
    left: auto;
  }

  .card-image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    flex: 0 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  
  .margin-top-bottom-50px {
    margin-top: 50px;
  }

  .card {
    margin-bottom: 25px;
    max-height: 300px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .margin-top-bottom-50px {
    margin-top: 50px;
  }
}